<%- include('templates/header') %> <%- include('templates/searchBar') %>
<style>
  ::-webkit-scrollbar {
    display: none;
  }
</style>
<h2 class="px-5 flex items-center">
  <span class="text-lg font-bold">Weekly Recommendation</span>
</h2>

<div
  id="h-gallery"
  class="container scroll-smooth focus:scroll-auto relative w-full flex gap-6 snap-x overflow-x-auto pb-10"
>
  <% recipeList.forEach((recipe) => { %>
    <div class="relative snap-center shrink-0 first:pl-8 last:pr-8">
      <img
        id="<%= recipe.recipeId %>"
        class="shrink-0 w-80 h-60 rounded-lg shadow-xl bg-white"
        onclick="goToRecipe(id)"
        src="<%= recipe.imgUrl %>"
        alt="Recipe Image"
      />
      <p class="absolute bottom-0 left-10 right-0 bg-75 px-4 py-1 rounded-b-lg bg-lime-500/100 text-black">
        <%= recipe.recipeTitle %>
      </p>
    </div>
  <% }) %>



</div>
<!--Below is horizontal gallery-->
<h3 class="p-5 flex items-center">
  <span class="text-lg font-bold">Monthly Hot</span>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-flame"
    width="40"
    height="30"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="#ff4500"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path
      d="M12 12c2 -2.96 0 -7 -1 -8c0 3.038 -1.773 4.741 -3 6c-1.226 1.26 -2 3.24 -2 5a6 6 0 1 0 12 0c0 -1.532 -1.056 -3.94 -2 -5c-1.786 3 -2.791 3 -4 2z"
    />
  </svg>
</h3>
<!--Below is vertical gallery-->

<div id="v-gallery"></div>

<script>
  function goToRecipe(id) {
    window.location.href = `/recipedisplaypage/`;
  }

  function loadMonthlyRecipes() {
    for (let i = 1; i <= 4; i++) {
      document.getElementById("v-gallery").innerHTML += `
          <div class="flex items-center gap-4 p-4">
      <img class="w-20 h-20 flex-shrink-0" src="${i}.jpg" onclick="goToRecipe(id)" />
      <div class="flex flex-col">
        <strong class="text-slate-900 text-sm font-medium dark:text-slate-200"
          >Special Drink</strong
        >
        <span class="text-slate-500 text-sm font-medium dark:text-slate-400"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis,
          dolorum.</span
        >
      </div>
    </div>
        `;
    }
  }
  loadMonthlyRecipes();


  // Below is the codes from the youtube video teaching how to make a horizontal gallery with dragging and touch effect
  let carousel = document.querySelector("#h-gallery");
  const firstImg = carousel.querySelectorAll("img")[0];
  let isMOve = false;
  let prevPageX;
  let prevScrollLeft;
  let firstImgWidth = firstImg.clientWidth;

  const draggingStart = (e) => {
    isMove = true;
    prevPageX = e.pageX || e.touches[0].pageX; // get the x position of the mouse or touch
    prevScrollLeft = carousel.scrollLeft;
  };

  const dragging = (e) => {
    if (!isMove) return;
    e.preventDefault();
    // carousel.classList.add("dragging");
    let posisionDiff = (e.pageX || e.touches[0].pageX) - prevPageX;
    carousel.scrollLeft = prevScrollLeft - posisionDiff;
  };

  const draggingStop = () => {
    isMove = false;
    // carousel.classList.remove("dragging");
  };
  carousel.addEventListener("mousedown", draggingStart);
  carousel.addEventListener("touchstart", draggingStart);

  carousel.addEventListener("mousemove", dragging);
  carousel.addEventListener("touchmove", dragging);

  carousel.addEventListener("mouseup", draggingStop);
  carousel.addEventListener("touched", draggingStop);

</script>
<%- include('templates/menuBar') %> <%- include('templates/footer') %>
