<%- include('templates/header'); %>
<%- include('templates/backBtn'); %>

<div class="bg-orange-50 min-h-screen py-10">
    <div class="bg-orange-50 p-8 min-h-screen flex flex-col items-center p-4 relative">
        <h3 class="text-2xl font-bold mb-5 text-blue-950">Edit Your Preferences</h3>
        <div class="mb-4 w-full">
            <input type="text" id="preferenceInput" class="p-2 border rounded w-full" placeholder="Enter a preference">
        </div>
        <div class="mb-4 flex justify-center space-x-12">
            <button onclick="addPreference()" class="bg-blue-500 text-white px-3 py-1 rounded">Add</button>
            <button onclick="deleteSelectedPreferences()" class="bg-gray-500 text-white px-3 py-1 rounded">Delete</button>
        </div>
        <div id="preferenceList" class="flex flex-wrap gap-2 mb-4">
            <% if (user.preferences && user.preferences.length > 0) { %>
                <% user.preferences.forEach(function(pref) { %>
                    <div class="relative bg-indigo-50 text-blue-950 px-3 py-1 rounded-full preference-bubble" data-name="<%= pref %>">
                        <%= pref %>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</div>

<!-- Menubar -->
<%- include('templates/menuBar'); %>
<script src="/script/getLocalPreference.js"> </script>
<%- include('templates/footer'); %>

<style>
    .preference-bubble {
        transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
        position: relative;
        cursor: pointer;
    }
    .preference-bubble:hover {
        transform: scale(1.1);
    }
    .preference-bubble.selected {
        background-color: rgba(7, 172, 183, 0.8);
    }
</style>
