<%- include('templates/header'); %>
<%- include('templates/backBtn'); %>

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mt-10">
    <h1 class="text-center text-2xl font-bold text-blue-800 my-4">My Cart</h1>

    <% if (recipeDetails.length === 0) { %>
        <p class="text-center text-red-500">Your cart is empty.</p>
    <% } else { %>
        <% recipeDetails.forEach(recipe => { %>
            <% if (recipe) { %> <!-- Check if recipe is not null -->
                <div class="md:flex bg-red-100 rounded-xl overflow-hidden mb-4">
                    <div class="p-8 flex-grow">
                        <div class="flex items-center justify-between">
                            <h2 class="font-bold text-xl text-blue-800"><%= recipe.label %></h2>
                        </div>
                        <% recipe.ingredientLines.forEach(ingredient => { %>
                            <p class="mt-2 text-gray-600"><%= ingredient %></p>
                        <% }) %>
                        <div class="flex justify-between items-center my-4">
                            <span class="font-bold text-lg">Total:</span>
                            <span class="font-bold text-blue-600 text-lg">$<%= recipe.totalNutrients.ENERC_KCAL.quantity.toFixed(2) %></span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <button class="bg-gray-200 text-gray-800 rounded px-2">-</button>
                            <span>1</span>
                            <button class="bg-red-500 text-white rounded px-2">+</button>
                        </div>
                    </div>
                </div>
            <% } %>
        <% }) %>
    <% } %>
</div>

<%- include('templates/menuBar') %>
<%- include('templates/footer') %>