<%- include('templates/header'); %>
<%- include('templates/backBtn'); %>

<div class="bg-orange-50 min-h-screen py-10">
  <div class="container mx-auto px-4">
    <h2 class="text-2xl font-bold mb-5 text-blue-950 text-center">Order History</h2>
    <div id="orderHistory" class="space-y-4">
      <% orders.forEach(order => { %>
        <div class="bg-orange-50 p-4 rounded-md shadow-md">
          <div class="flex items-center">
            <img src="/orderimg.jpg" alt="Order Image" class="w-16 h-16 rounded-md mr-4">
            <div>
              <h2 class="text-md font-semibold text-blue-950"><%= order.info.recipeTitle %></h2>
              <p class="text-sm text-gray-600"><%= new Date(order.orderDate).toLocaleString() %></p>
              <p class="text-sm text-gray-600">Amount: $<%= order.amount %></p>
            </div>
          </div>
          <a href="/order/<%= order.orderId %>" class="text-orange-500 hover:underline text-sm font-bold mt-2 block">View Details</a>
        </div>
      <% }) %>
    </div>
    <div class="mt-4 flex justify-between items-center">
      <button onclick="previousPage()" class="bg-gray-500 text-white px-3 py-1 rounded">Previous</button>
      <span>Page <span id="currentPage"><%= currentPage %></span> of <span id="totalPages"><%= totalPages %></span></span>
      <button onclick="nextPage()" class="bg-gray-500 text-white px-3 py-1 rounded">Next</button>
    </div>
    <div class="mt-4 flex justify-center items-center">
      <input type="number" id="pageInput" class="border rounded p-2" placeholder="Go to page" min="1" max="<%= totalPages %>" />
      <button onclick="goToPage()" class="bg-blue-500 text-white px-3 py-1 rounded ml-2">Go</button>
    </div>
  </div>
</div>

<%- include('templates/menuBar'); %>
<%- include('templates/footer'); %>

<script>
  function previousPage() {
    const currentPage = parseInt(document.getElementById('currentPage').innerText);
    if (currentPage > 1) {
      window.location.href = `/order_history?page=${currentPage - 1}`;
    }
  }

  function nextPage() {
    const currentPage = parseInt(document.getElementById('currentPage').innerText);
    const totalPages = parseInt(document.getElementById('totalPages').innerText);
    if (currentPage < totalPages) {
      window.location.href = `/order_history?page=${currentPage + 1}`;
    }
  }

  function goToPage() {
    const pageInput = document.getElementById('pageInput').value;
    const totalPages = parseInt(document.getElementById('totalPages').innerText);
    if (pageInput && pageInput >= 1 && pageInput <= totalPages) {
      window.location.href = `/order_history?page=${pageInput}`;
    } else {
      alert('Please enter a valid page number.');
    }
  }
</script>
