<%- include('templates/header') %>
<%- include('templates/backBtn') %>

<div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img id="recipe-image" src="<%=recipeDetails.recipeImg%> " class="h-48 w-full object-cover md:w-48" alt="Recipe image">
        </div>
        <div class="p-8">
            <div class="flex items-center justify-between">
                <h1 id="recipe-name" class="text-2xl font-bold text-blue-800"><%= recipeDetails.recipeTitle %></h1>
            </div>
            <% recipeDetails.recipeCuisineType.forEach( (cuisine) => { %>
                <p id="recipe-cuisine" class="mt-2 text-gray-600"><%= cuisine %></p>
            <% }) %>

            <div class="flex items-center justify-between">
                <h2 class="text-2xl font-semibold text-blue-800">Ingredients</h2>
            </div>
                
            <div class="mt-4 bg-blue-100 p-4 rounded-xl">
                <ul id="ingredients-list" class="mt-2">
                    <% recipeDetails.recipeIngredients.forEach(ingredient => { %>
                        <li class="flex items-center justify-between mt-2">
                            <div class="flex items-center">
                                <span><%= ingredient %></span>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="flex items-center justify-between mt-4">
                <h2 class="text-2xl font-semibold text-blue-800">Price : $ <span id="price"> <%= recipeDetails.recipePrice %></span> </h2>
            </div>
            <!-- Possibly look to change it to number of recipes that they need -->
            <div class="flex mt-4 justify-end">
                <button class="bg-white text-orange-500 px-4 py-2 rounded-md border border-orange-300">Select Default</button>
                <button class="bg-orange-500 text-white px-4 py-2 rounded-md ml-2" onclick="addToCart('<%=recipeDetails.recipeId%>')">Add to Cart</button>
            </div>
            <!-- This will have to be nutritional information/important to know things (Dietary restrictions)/ Make a card of each thing to display -->
            <div class="mt-6">
                <h2 class="text-2xl font-semibold text-blue-800">Nutritional Information</h2>
                <ul id="nutritional-info" class="list-disc list-inside mt-2 text-gray-700">
                    <!--here should be allergic info-->
                    <% for (let nutrient in recipeDetails.recipeNutrients) { %>
                        <li><%= recipeDetails.recipeNutrients[nutrient].label %>: <%= recipeDetails.recipeNutrients[nutrient].quantity.toFixed(2) %><%= recipeDetails.recipeNutrients[nutrient].unit %></li>
                    <% } %>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    function addToCart(id) {
        const price = document.getElementById('price').innerText;
        console.log("id: ", id, "price: ", price);
        // store id the cart, might need to store it into database amd retrieve it later
    }
</script>
<%- include('templates/menuBar') %>
<%- include('templates/footer') %>
