<%- include('templates/header') %>
<%- include('templates/backBtn') %>
<div class="z-10 fixed inline-flex items-center justify-center shadow-md bg-white items-center rounded-full m-4 px-4 py-4 text-gray-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 top-0 right-2 h-9 w-9" onclick="favoritesToggleInfoPage()">
    <i class="<% if(isFavorite){ %>fas<% }else{ %>far<% } %> fa-heart icon text-red-500 text-lg"></i>
</div>

<div class="max-w-md mx-auto bg-white overflow-hidden md:max-w-2xl"> <!-- Removed shadow-md -->
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img id="recipe-image" src="<%= recipeDetails.recipeImg %>" class="h-48 w-full object-cover md:w-48" alt="Recipe image"> <!-- Removed rounding class -->
        </div>
        <div class="p-8">
            <div class="flex items-center justify-between">
                <h1 id="recipe-name" class="text-2xl font-bold text-blue-950">
                    <%= recipeDetails.recipeTitle %>
                </h1>
            </div>
            <% let i=0 %>
            <% recipeDetails.recipeCuisineType.forEach((cuisine)=> { %>
            <p class="recipe-cuisine mt-2 text-gray-400 font-medium">
                <span class="font-bold">Cuisine type:</span> <%= cuisine %>
            </p>
            <% }) %>

            <div class="flex items-center justify-between mt-4">
                <h2 class="text-2xl font-semibold text-blue-950">Ingredients</h2>
            </div>

            <div class="mt-4 bg-indigo-50 p-4 rounded-xl">
                <ul id="ingredients-list" class="mt-2">
                    <% recipeDetails.recipeIngredients.forEach((ingredient)=> { %>
                    <li class="items-center mt-2 w-full">
                        <div class="flex items-center justify-between">
                            <span>
                                <%= ingredient %>
                            </span>

                            <!-- plus and minus buttons -->
                            <form class="max-w-xs">
                                <div class="relative flex items-center">
                                    <button type="button" id="decrement-button<%=i%>" data-input-counter-decrement="counter-input" class="flex-shrink-0 bg-orange-50 inline-flex items-center justify-center rounded-sm h-5 w-5"> <!-- Removed border classes -->
                                        <svg class="w-2.5 h-2.5 text-black dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                                        </svg>
                                    </button>
                                    <input type="text" id="counter-input" data-input-counter class="flex-shrink-0 text-gray-900 dark:text-white border-0 bg-transparent text-sm font-normal max-w-[2.5rem] text-center" placeholder="" value="1" required />
                                    <button type="button" id="increment-button<%=i%>" data-input-counter-increment="counter-input" class="flex-shrink-0 bg-orange-500 inline-flex items-center justify-center rounded-sm h-5 w-5"> <!-- Removed border classes -->
                                        <svg class="w-2.5 h-2.5 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                                        </svg>
                                    </button>
                                </div>
                            </form>
                            <!-- plus and minus buttons -->
                        </div>
                    </li>
                    <% i++ %>
                    <% }) %>
                </ul>
            </div>

            <div class="flex items-center justify-between mt-4">
                <h2 class="text-xl font-semibold text-blue-950">Price : $ <span id="price"><%= recipeDetails.recipePrice %></span></h2>
                <div class="flex justify-end">
                    <form id="add-to-cart-form" action="/add-to-cart" method="POST">
                        <input class="hidden" name="recipeId" type="data" value="<%= recipeDetails.recipeId %>">
                        <input class="hidden" name="recipePrice" type="data" value="<%= recipeDetails.recipePrice %>">
                        <button type="submit" class="bg-orange-500 text-white px-4 py-2 rounded-md ml-2">Add to Cart</button>
                    </form>
                </div>
            </div>


            <div class="mt-6">
                <h2 class="text-2xl font-semibold text-blue-950">Nutritional Information</h2>
                <ul id="nutritional-info" class="list-disc list-inside mt-2 text-gray-700">
                    <% for (let nutrient in recipeDetails.recipeNutrients) { %>
                    <li>
                        <%= recipeDetails.recipeNutrients[nutrient].label %>: <%= recipeDetails.recipeNutrients[nutrient].quantity.toFixed(2) %> <%= recipeDetails.recipeNutrients[nutrient].unit %>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>

</script>

<%- include('templates/menuBar') %>
<script src="/script/plusAndMinus.js"></script>
<%- include('templates/footer') %>
