<%- include('templates/header'); %>
<div class="bg-indigo-50 py-4">
  <div class="flex items-center justify-between w-full px-7 w-full">
    <div class="flex items-center justify-between w-56">
      <img
        src="/profileimg.png"
        alt="Profile Picture"
        class="w-20 h-20 rounded-full"
      />
      <div>
        <h1 class="text-lg font-semibold text-blue-950">
          <%= user.username %>
        </h1>
        <h3 class="text-m text-gray-600"><%= user.email %></h3>
      </div>
    </div>
    <a
      href="/user_profile"
      class="text-orange-500 hover:underline text-md font-bold"
      >Edit</a
    >
  </div>
</div>

<div class="bg-white p-4">
  <div class="grid grid-cols-3 gap-4 text-center">
    <div
      class="flex flex-col items-center"
      onclick="location.href='/favorites'"
      style="cursor: pointer"
    >
      <div class="bg-indigo-50 p-4 rounded-md">
        <i class="fas fa-heart text-orange-500 text-5xl"></i>
      </div>
      <span class="text-blue-950 font-semibold">Favorites</span>
    </div>
    <div
      class="flex flex-col items-center"
      onclick="location.href='/local_preference'"
      style="cursor: pointer"
    >
      <div class="bg-indigo-50 p-4 rounded-md">
        <i class="fas fa-sliders-h text-orange-500 text-5xl"></i>
      </div>
      <span class="text-blue-950 font-semibold">Preference</span>
    </div>
    <div class="flex flex-col items-center">
      <div
        class="bg-indigo-50 p-4 rounded-md"
        onclick="window.location.href = '/feedback'"
      >
        <i class="fas fa-star text-orange-500 text-5xl"></i>
      </div>
      <span class="text-blue-950 font-semibold">Feedback</span>
    </div>
  </div>

  <div class="space-y-4 mt-6">
    <div class="flex items-center">
      <i class="fas fa-bullhorn text-orange-500"></i>
      <div id="calorimeter" class="font-bold ml-3 text-neutral-500 text-lg">
        Calorimeter
      </div>
    </div>
    <div id="calculator" class="flex items-center hidden">
      <form method="post">
        <input
          type="text"
          id="query"
          name="query"
          class="border-2 border-orange-500 p-2 rounded-md w-64"
          placeholder=" - ran 1 hour"
        />
        <button
          type="button"
          class="bg-orange-500 text-white p-2 rounded-md ml-2" onclick="getResults()"
        >
          Calculate
        </button>
      </form>
    </div>
    <div class="flex items-center">
      <i class="fas fa-info-circle text-orange-500"></i>
      <div class="font-bold ml-3 text-neutral-500 text-lg">About</div>
    </div>
    <div class="flex items-center">
      <i class="fas fa-cog text-orange-500"></i>
      <div class="font-bold ml-3 text-neutral-500 text-lg">Settings</div>
    </div>
    <div
      onclick="confirmSignOut()"
      class="flex items-center cursor-pointer text-red-500"
    >
      <i class="fas fa-sign-out-alt"></i>
      <div class="font-bold ml-3 text-lg">Sign Out</div>
    </div>
  </div>
</div>

<div class="bg-white mt-2 p-3">
  <hr class="border-t-2 p-2 border-orange-300" />
  <div class="flex items-center space-x-2">
    <i class="fas fa-history text-lg"></i>
    <h1 class="text-lg font-semibold">Order History</h1>
  </div>
  <div id="orderHistory" class="mt-4 space-y-4">
    <!-- Order cards will be rendered here -->
  </div>
</div>

<%- include('templates/menuBar'); %> <%- include('templates/footer'); %>

<script>
  // toggle calculator
  const toggleCalculator = document.getElementById("calorimeter");
  const calculator = document.getElementById("calculator");

  toggleCalculator.addEventListener("click", ()=>{
    if (calculator.style.display === "none") {
      calculator.style.display = "flex";
    } else {
      calculator.style.display = "none";
    }
  });

  function getResults() {
    const query = document.getElementById("query").value;
    fetch("/calculate", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ query }),
    })
      .then((res) => res.json())
      .then((data) => {
        console.log(" Calories burned: ", data);
        // TODP - Display the result
      })
      .catch((err) => {
        console.error(err);
      });
  }

  function confirmSignOut() {
    if (confirm("Are you sure you want to sign out?")) {
      fetch("/logout", {
        method: "POST",
      })
        .then((res) => {
          if (res.status === 200) {
            window.location.href = "/";
          }
        })
        .catch((err) => {
          console.error(err);
        });
    }
  }

  // Fetch and render order history
  document.addEventListener("DOMContentLoaded", function () {
    fetch("/user_orders")
      .then((response) => response.json())
      .then((orders) => {
        const orderHistory = document.getElementById("orderHistory");
        orders.forEach((order) => {
          const orderCard = document.createElement("div");
          orderCard.className = "bg-orange-50 p-4 rounded-md shadow-md";
          orderCard.innerHTML = `
                      <div class="flex items-center">
                          <img src="/orderimg.jpg" alt="Order Image" class="w-16 h-16 rounded-md mr-4">
                          <div>
                              <h2 class="text-md font-semibold text-blue-950">${
                                order.info.recipeTitle
                              }</h2>
                              <p class="text-sm text-gray-600">${new Date(
                                order.orde_date
                              ).toLocaleString()}</p>
                          </div>
                      </div>
                      <a href="/order/${
                        order.orderId
                      }" class="text-orange-500 hover:underline text-sm font-bold mt-2 block">View Details</a>
                  `;
          orderHistory.appendChild(orderCard);
        });
      })
      .catch((error) => {
        console.error("Error fetching order history:", error);
      });
  });
</script>
