<%- include('templates/header'); %>
    <div class="text-center mt-6">
        <div class="profile-picture"></div>
        <h1>
            <%= user.username %>
        </h1>
        <p>
            <%= user.email %>
        </p>
        <a href="/user_profile" class="link">Edit</a>
    </div>

    <div class="card-container">
        <div class="card">
            <i class="fas fa-heart icon"></i>
            <p>Favorites</p>
        </div>
        <div class="card">
            <i class="fas fa-sliders-h icon"></i>
            <p>Preference</p>
        </div>
        <div class="card">
            <i class="fas fa-star icon"></i>
            <p>Membership</p>
        </div>
    </div>

    <div class="mt-6">
        <p><i class="fas fa-bullhorn icon"></i> Promotions</p>
        <p><i class="fas fa-info-circle icon"></i> About</p>
        <p><i class="fas fa-cog icon"></i> Settings</p>
        <p><i class="fas fa-sign-out-alt icon"></i> Sign out</p>
        <p><i class="fas fa-history icon"></i> Order History</p>
    </div>

    <%-include('templates/menuBar')%>

        <%-include('templates/footer')%>